/**
 * Copyright, 2021, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

.agenda {
    cursor: pointer;
    position: relative;
}
.agenda .componente-agenda-plantilla {
    display: none !important;
    position: relative;
}
.agenda .agenda-barra-horarios {
    width: 5em;
    background: #f7f7f7;
    border-right: 1px solid #dadce0;
}
.agenda .agenda-barra-horarios label {
    font-size: inherit;
    margin: 0;
    padding: .42em;
    overflow: hidden;
    font-weight: inherit;
}
.agenda .agenda-evento {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: .25rem;
    overflow: hidden;
    top: 0;
    bottom: auto;
    left: 75px;
    right: 10px;
}
.agenda.ocultar-hora .agenda-evento {
    left: 10px;
}