/**
 * Copyright, 2021, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

.agenda {
    cursor: pointer;
    position: relative;
}
.agenda .componente-agenda-plantilla {
    display: none !important;
    position: relative;
}
.agenda.ocultar-hora .agenda-barra-horarios {
    display: none;
}
.agenda .agenda-barra-horarios {
    width: 5em;
    background-color: #f7f7f7b0;
    border-right: 1px solid #dadce0;
}
.agenda .agenda-barra-horarios label {
    font-size: inherit;
    margin: 0;
    padding: .42em;
    overflow: hidden;
    font-weight: inherit;
}
.agenda .agenda-evento {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: .25rem;
    overflow: hidden;
    top: 0;
    bottom: auto;
    left: calc(5em + 10px);
    right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #dadce0;
    padding: 0 .3em;
}
.agenda.ocultar-hora .agenda-evento {
    left: 10px;
}
.agenda .agenda-rango-deshabilitado {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #ffc6c670;
    top: 0;
    bottom: auto;
    left: 5em;
    right: 0px;
}
.agenda.ocultar-hora .agenda-rango-deshabilitado {
    left: 0;
}