/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

.buscador input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%235e6c7b'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right .5rem;
    background-size: 18px;
}
.buscador-resultados-busqueda {
    max-height: 300px;
    overflow-y: auto;
}
.buscador-resultados-busqueda>* {
    display: block;
    padding: .4rem 1rem;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .2s,color .2s;
}
.buscador-resultados-busqueda .sin-datos {
    color: #c0c0c0;
    text-align: center;
}
.buscador-resultados-busqueda>.activo {
    background-color: #e8ebf1;
}
.buscador .btn-desplegar {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 2.1em;
    display: none;
    cursor: pointer;
}
.buscador.desplegable .btn-desplegar {
    display: block;
}
.buscador.desplegable input {
    background-position: center right 2em;
}

@media(max-width:576px) {
    .buscador-resultados-busqueda>* {
        padding: .74rem 1rem;
    }
}