/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.campo textarea {
    height: 100%;
}
.ocultar-control::-webkit-outer-spin-button,
.ocultar-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.ocultar-control {
  -moz-appearance: textfield;
}