/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.foxtrot-modo-edicion.foxtrot-bordes .etiqueta {
    outline: dotted 2px rgba(0, 0, 0, 0.2);
    min-width: 40px;
    min-height: 10px;
    font-size: 0;
    vertical-align: middle;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHpJREFUeNqs09EJgDAMBNB4uoHgeJ3ADZzZDRRMPgKltBWSC9xHIDzuJ0s5r0NENpnPo7k178/dCiam2cHErByYmC1gYiMwjPXAFNaCaawGKZiDNMxBGmblwMSsHJiYlQMTm31KCBuBYawHprAWTGM1SMEcpGE2nwADACdrPXB5ZkY6AAAAAElFTkSuQmCC);
}