/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

.fecha .form-control {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-calendar'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.4em;
    background-position: calc(100% - .4em) calc(100% / 2 - .1em);
}
.desplegable-calendario {
    min-width: 220px;
}
.desplegable-calendario .calendario .calendario-titulo {
    white-space: normal;
}
@media(max-width:576px) {
    .foxtrot-desplegable-adaptativo .calendario .btn {
        flex: 0 0 2.5rem;
        height: 3rem;
    }
    .foxtrot-desplegable-adaptativo .calendario a {
        padding: .5rem;
    }
    .foxtrot-desplegable-adaptativo .calendario .calendario-nav {
        margin-bottom: .7rem;
    }
}
@media(max-width:435px) {
    .foxtrot-desplegable-adaptativo .calendario-cuerpo>div>div,
    .foxtrot-desplegable-adaptativo .calendario-cuerpo>div>label,
    .foxtrot-desplegable-adaptativo .calendario a {
        padding-left: 0;
        padding-right: 0;
    }
}