/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.importar {
    position: relative;
    overflow: auto;
}
.importar>.contenedor-vista-importada {
    position: relative;
    min-height: 100%;
}