/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.importar {
    position: relative;
}
.importar>.contenedor-vista-importada {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    overflow: auto;
}