/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.foxtrot-mostrar-invisibles :not(li)>.menu-contextual {
    display: inline-block;
    opacity: 1;
    position: relative;
    margin: 20px;
    width: auto;
    clear: both;
    min-width: 80px;
}
.foxtrot-mostrar-invisibles .nav .menu-contextual {
    display: none;
    opacity: 0;
    margin: 0;
    min-width: 80px;
}
.nav .foxtrot-seleccionado>.menu-contextual,
.nav .menu-contextual.foxtrot-hijo-seleccionado,
.nav .menu-contextual.foxtrot-seleccionado {
    display: block;
    opacity: 1;
}
.item-menu {
    position: relative !important;
}
.item-menu .menu-contextual {
    top: 0!important;
}

.menu-flotante.menu-edicion {
    opacity: 1 !important;
    pointer-events: all !important;
    display: block !important;
}
.menu-deslizable.menu-edicion {
    opacity: 1 !important;
    left: 0 !important;
    pointer-events: all !important;
    display: block !important;
}

.foxtrot-mostrar-invisibles .menu-ancla {
    position: absolute;
    border: 1px dotted #7ebae5d4;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border-radius: 2px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeNpi/P//PwMtARMDjcGoBQQBC4wRn1tD1dheOLmFkS4+YBxNpqOpaDQVjaai0VQ0agE9LAAIMABuaBgn+frlzAAAAABJRU5ErkJggg==');
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.foxtrot-mostrar-invisibles .menu-ancla.seleccionado {
    background-color: #7ebae5d4;
    border-style: solid;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAA5SURBVHjaYvz//z8DLQETA43BqAUEAQsSm9qxzUh3HzCORvJoKhpNRaOpaDQVjVpAKwAAAAD//wMA8YkGPNoo3k0AAAAASUVORK5CYII=');
}
.foxtrot-mostrar-invisibles .menu-ancla.d-none {
    display: none !important;
}
@media(min-width:576px) {
    .foxtrot-mostrar-invisibles .menu-ancla.d-sm-block {
        display: block !important;
    }
    .foxtrot-mostrar-invisibles .menu-ancla.d-sm-none {
        display: none !important;
    }
}
@media(min-width:768px) {    
    .foxtrot-mostrar-invisibles .menu-ancla.d-md-block {
        display: block !important;
    }
    .foxtrot-mostrar-invisibles .menu-ancla.d-md-none {
        display: none !important;
    }
}
@media(min-width:992px) {    
    .foxtrot-mostrar-invisibles .menu-ancla.d-lg-block {
        display: block !important;
    }  
    .foxtrot-mostrar-invisibles .menu-ancla.d-lg-none {
        display: none !important;
    }
}
@media(min-width:1200px) {
    .foxtrot-mostrar-invisibles .menu-ancla.d-xl-block {
        display: block !important;
    }
    .foxtrot-mostrar-invisibles .menu-ancla.d-xl-none {
        display: none !important;
    }
}
