/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

.nav {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav>li {
    position: relative;
}
.nav>li>a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav .menu {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    margin: 0;
}
.nav>li>.menu {
    top: 100% !important;
}
.nav .menu .menu {
    position: absolute;
    margin-top: -11px;
    left: 100%;
    width: auto;
    min-width: 80px;
}
.menu-flotante-activo {
    display: none;
    position: fixed !important;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    overflow-y: auto;
    z-index: 999999;
    opacity: 0;
    background-color: #fff;
    padding: .7rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 1px solid #e8ebf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.071), 0 10px 15px rgba(0, 0, 0, 0.149);
}
.menu-deslizable-activo { 
    display: block;   
    position: fixed !important;
    width: 90vw;
    left: -90vw;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 999999;
    opacity: 0;
    transition: opacity .2s,left .2s;
    box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
    background-color: #fff;
    max-width: none;
    max-height: none;
    padding: 1.3rem 0;
    border-radius: 0;
    font-size: 1.1rem;
    line-height: 2.5rem;
}
.menu-bloque-activo {
    display: flex;
    position: relative !important;
    width: auto;
    left: auto !important;
    top: auto !important;
    bottom: auto;
    overflow: visible;    
    opacity: 1;
    transition: none;
    box-shadow: none;
    background-color: transparent;
    max-width: none;
    max-height: none;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
}
.menu-flotante-activo.menu-abierto {
    display: block;
}
.menu-deslizable-activo.menu-abierto {
    left: 0;
}
.menu-flotante-activo .menu,
.menu-flotante-activo .menu .menu,
.menu-deslizable-activo .menu,
.menu-deslizable-activo .menu .menu {
    border: none;
    box-shadow: none;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: 0;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}
.menu-flotante-activo .menu ul,
.menu-deslizable-activo .menu ul {
    padding: 0;
}
.menu-bloque-activo>.item-menu>.menu {
    margin-top: 0 !important;
    top: 100% !important;
}
.menu-flotante-activo .con-submenu>a {
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 32px;
    background-position: calc(100% - 5px) center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iOSAxOCAxNSAxMiA5IDYiPjwvcG9seWxpbmU+PC9zdmc+");
}