/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav>li {
    position: relative;
}
.nav>li>a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.nav li .menu {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    margin: 0;
}
.nav li .menu .menu {
    top: -10px;
    left: 100%;
    width: auto;
    min-width: 80px;
}

.menu-flotante {
    display: block;
    position: fixed !important;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    overflow-y: auto;
    z-index: 999999;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
    box-shadow: 0 0 13px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1);
    background-color: #fff;
    max-width: 75vw;
    max-height: 75vh;
}
.menu-deslizable { 
    display: block;   
    position: fixed !important;
    width: 90vw;
    left: -90vw;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 999999;
    opacity: 0;
    transition: opacity .2s,left .2s;
    pointer-events: none;
    box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
    background-color: #fff;
    max-width: none;
    max-height: none;
}
.menu-bloque {
    display: flex;
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    overflow: visible;    
    opacity: 1;
    transition: none;
    pointer-events: all;
    box-shadow: none;
    background-color: transparent;
    max-width: none;
    max-height: none;
}
.menu-flotante.menu-abierto {
    opacity: 1;
    pointer-events: all;
}
.menu-deslizable.menu-abierto {
    opacity: 1;
    left: 0;
    pointer-events: all;
}
@media (min-width: 576px) {
    .menu-sm-flotante {
        display: block;
        position: fixed !important;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
        box-shadow: 0 0 13px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: 75vw;
        max-height: 75vh;
    }
    .menu-sm-deslizable { 
        display: block;  
        position: fixed !important;
        width: 90vw;
        left: -90vw;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s,left .2s;
        pointer-events: none;
        box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: none;
        max-height: none;
    }
    .menu-sm-bloque {
        display: flex;
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow: visible;    
        opacity: 1;
        transition: none;
        pointer-events: all;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        max-height: none;
    }
    .menu-sm-flotante.menu-abierto {
        opacity: 1;
        pointer-events: all;
    }
    .menu-sm-deslizable.menu-abierto {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}
@media (min-width: 768px) {
    .menu-md-flotante {
        display: block;
        position: fixed !important;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
        box-shadow: 0 0 13px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: 75vw;
        max-height: 75vh;
    }
    .menu-md-deslizable {
        display: block;     
        position: fixed !important;
        width: 90vw;
        left: -90vw;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s,left .2s;
        pointer-events: none;
        box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: none;
        max-height: none;
    }
    .menu-md-bloque {
        display: flex;
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow: visible;    
        opacity: 1;
        transition: none;
        pointer-events: all;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        max-height: none;
    }
    .menu-md-flotante.menu-abierto {
        opacity: 1;
        pointer-events: all;
    }
    .menu-md-deslizable.menu-abierto {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}
@media (min-width: 992px) {
    .menu-lg-flotante {
        display: block;
        position: fixed !important;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
        box-shadow: 0 0 13px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: 75vw;
        max-height: 75vh;
    }
    .menu-lg-deslizable {
        display: block;   
        position: fixed !important;
        width: 90vw;
        left: -90vw;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s,left .2s;
        pointer-events: none;
        box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: none;
        max-height: none;
    }
    .menu-lg-bloque {
        display: flex;
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow: visible;    
        opacity: 1;
        transition: none;
        pointer-events: all;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        max-height: none;
    }
    .menu-lg-flotante.menu-abierto {
        opacity: 1;
        pointer-events: all;
    }
    .menu-lg-deslizable.menu-abierto {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}
@media (min-width: 1200px) {
    .menu-xl-flotante {
        display: block;
        position: fixed !important;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
        box-shadow: 0 0 13px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: 75vw;
        max-height: 75vh;
    }
    .menu-xl-deslizable {  
        display: block;  
        position: fixed !important;
        width: 90vw;
        left: -90vw;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 999999;
        opacity: 0;
        transition: opacity .2s,left .2s;
        pointer-events: none;
        box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);
        background-color: #fff;
        max-width: none;
        max-height: none;
    }
    .menu-xl-bloque {
        display: flex;
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        bottom: auto;
        overflow: visible;    
        opacity: 1;
        transition: none;
        pointer-events: all;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        max-height: none;
    }
    .menu-xl-flotante.menu-abierto {
        opacity: 1;
        pointer-events: all;
    }
    .menu-xl-deslizable.menu-abierto {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}