/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.table {
    margin: 1px;
    width: calc(100% - 2px);
}
.table-responsive {
    overflow: visible;
}
.foxtrot-modo-edicion tr {
    /* Debe ser block/flex, no table-row, a fin de que se pueda seleccionar cuando no tiene celdas */
    display: flex !important;
}