/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */
 
.table {
    margin: 1px;
    width: calc(100% - 2px);
}
.table-responsive {
    overflow: visible;
}
.foxtrot-modo-edicion tr {
    /* Debe ser block/flex, no table-row, a fin de que se pueda seleccionar cuando no tiene celdas */
    display: flex !important;
}
.foxtrot-modo-edicion.foxtrot-bordes tbody,
.foxtrot-modo-edicion.foxtrot-bordes thead,
.foxtrot-modo-edicion.foxtrot-bordes tfoot {
    display: block;
}
.foxtrot-modo-edicion td {
    padding-top: 3em;
}
.foxtrot-modo-edicion td .foxtrot-encabezado-temporal {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .2rem .7rem;
    font-weight: 600;
    background: #0002;
    margin: -3em -.7rem 0 -.7rem;
    min-height: 1.9rem;
    margin-bottom: 1.1rem;
}