body {
    background-color: #f1f3f7;
}
.formulario-ingreso {
    border-radius: 2px;
    background-color: #fff;
    padding: 50px 50px 50px 32px;
    margin: 80px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 10px 20px rgba(0,0,0,.08);
}
.encabezado {
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 0 0 20px rgba(0,0,0,.08);
}
.encabezado .nav>li {
    margin-right: 20px;
}
.encabezado .nav>li>a {
    color: inherit;
    border-bottom: 2px solid transparent;
    padding: 2px 0;
    transition: color .2s,border-color .2s;
}
.encabezado .nav>li>a:hover,
.encabezado .nav>li.submenu-abierto>a {
    color: #337ab7;
}
.encabezado .nav>li.submenu-abierto>a {
    border-color: #337ab7;
}
h1 {
    padding: 20px 0;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 0;
}