**/temp/*
!**/temp/temp-privado
**/temp/temp-privado/*
!**/temp/temp-privado/.htaccess
.vscode
produccion/*
desarrollo/*
!desarrollo/aplicaciones
!desarrollo/.htaccess
!desarrollo/config-ejemplo.php
scripts/sincronizar.sql
# Aplicación de pruebas (se incluye otra aplicación de ejemplo que recibe actualizaciones cuando la funcionalidad está estable)
desarrollo/aplicaciones/test