**/temp/*
!**/temp/temp-privado
**/temp/temp-privado/*
!**/temp/temp-privado/.htaccess
.vscode
produccion/*
desarrollo/*
!desarrollo/aplicaciones/ejemplo
!desarrollo/.htaccess
!desarrollo/config-ejemplo.php
scripts/sincronizar.sql