/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
* {
    transition: all .2s;
}
body.foxtrot-modo-edicion {
}
.foxtrot-modo-edicion * {
}
#foxtrot-cuerpo {
    position: relative;
    z-index: 1;
}
.foxtrot-modo-edicion #foxtrot-cuerpo {
    background: #fff;
    min-height: calc(100vh - 56px);
    z-index: 1;
    top: 56px;
    background: url(img/fondo.png);
}
#foxtrot-cargando {
    float: right;
    height: 34px;
    opacity: 0;
}
body.trabajando #foxtrot-cargando {
    opacity: 1;
}
.foxtrot-barra-herramientas {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07);
    border-bottom: 2px solid #e6e6e6;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
}
.foxtrot-barra-herramientas-flotante {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 19px 10px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
    transition: none;
}
.foxtrot-asa-arrastre {
    position: absolute;
    cursor: grab;
    left: 3px;
    top: 3px;
    right: 3px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 3px;
}
.foxtrot-barra-herramientas .btn,
.foxtrot-contenidos-barra-herramientas .btn {
    line-height: 0;
}
.foxtrot-barra-herramientas .btn.disabled,
.foxtrot-barra-herramientas .btn:disabled,
.foxtrot-contenidos-barra-herramientas .btn.disabled 
.foxtrot-contenidos-barra-herramientas .btn:disabled {
    opacity: .3;
    cursor: not-allowed;
}
.foxtrot-barra-herramientas .btn:hover,.foxtrot-contenidos-barra-herramientas .btn:hover,
.foxtrot-barra-herramientas .btn:focus,.foxtrot-contenidos-barra-herramientas .btn:focus,
.foxtrot-barra-herramientas .btn:active,.foxtrot-contenidos-barra-herramientas .btn:active {
    background-color: #ececec;
}
.foxtrot-barra-herramientas button img,
.foxtrot-contenidos-barra-herramientas button img {
    width: 24px;
}

#foxtrot-barra-componentes {
    left: 20px;
    top: 75px;
}
#foxtrot-barra-propiedades {
    left: calc(100% - 20px);
    transform: translateX(-100%);
    top: 75px;
}

.foxtrot-arrastrable-arrastrando-sobre {
    box-shadow: inset 0 0 0 4px rgba(0,123,255,.25) !important;
}
#foxtrot-cuerpo.foxtrot-arrastrable-arrastrando-sobre {
    box-shadow: 0 1px 5px rgba(0,0,0,.07), 0 0 40px rgba(0,0,0,.1), inset 0 0 0 4px rgba(0,123,255,.25) !important;
}
.foxtrot-modo-edicion [contenteditable]:focus {
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0 0 4px rgba(0,123,255,.25) !important;
}

.foxtrot-modo-edicion .container.vacio {
    min-height: 40px;
    border-radius: 10px;
    border: dashed 2px #c7c7c7;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}