/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body.foxtrot-modo-edicion {
    background: url(img/fondo.png);
}
.foxtrot-modo-edicion * {
    transition: box-shadow .2s;
}
#foxtrot-cuerpo {
    position: relative;
}
.foxtrot-modo-edicion #foxtrot-cuerpo {
    background: #fff;
    min-height: 80px;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0,0,0,.07), 0 0 40px rgba(0,0,0,.1);
}

.foxtrot-barra-herramientas {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 19px 10px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
}
.foxtrot-asa-arrastre {
    position: absolute;
    cursor: grab;
    left: 3px;
    top: 3px;
    right: 3px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 3px;
}
.foxtrot-contenidos-barra-herramientas .btn {
    line-height: 0;
}
.foxtrot-contenidos-barra-herramientas button img {
    width: 24px;
}

#foxtrot-barra-componentes {
    left: 20px;
    top: 20px;
}
#foxtrot-barra-propiedades {
    display: none;
    right: 20px;
    top: 20px;
}

.foxtrot-arrastrando-sobre {
    box-shadow: inset 0 0 0 4px rgba(0,123,255,.25) !important;
}
#foxtrot-cuerpo.foxtrot-arrastrando-sobre {
    box-shadow: 0 1px 5px rgba(0,0,0,.07), 0 0 40px rgba(0,0,0,.1), inset 0 0 0 4px rgba(0,123,255,.25) !important;
}

.foxtrot-modo-edicion .container.vacio {
    min-height: 40px;
    border-radius: 10px;
    border: dashed 2px #eee;
}