/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html {
    width: 100%;
    height: 100%;
}
body.foxtrot-modo-edicion.foxtrot-bordes {
    box-shadow: 0 0 0 22px rgb(251, 251, 251);
    margin-top: 22px !important;
    margin-bottom: 22px !important;
    overflow: visible !important;
}
body.foxtrot-modo-edicion.foxtrot-bordes * {
    overflow: visible !important;
}
body.foxtrot-editor,
body.foxtrot-gestor {
    background-color: #fdfdfd;    
    font-family: "Montserrat", sans-serif;
    line-height: 13px;
    font-size: 13px;
    color: #2d2e2f;
}
body.foxtrot-gestor {
    padding-top: 56px;
}

body.foxtrot-modo-edicion #foxtrot-barra-precarga,
body.foxtrot-modo-edicion #foxtrot-precarga {
    display: none !important;
}

/*Colores*/

a {
    text-decoration: none !important;
    color: #3790dc;
}
a:hover,
a:focus,
a:active {
    color: #337ab7;
}
.form-control:focus,
.custom-select:focus {
    border-color: #337ab7;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3790dc;
    border-color: #3790dc;
}
.btn-secondary {
    color: #3b3e40;
    background-color: #dedede;
    border-color: #dedede;
}
.btn-secondary.focus, .btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #3b3e40;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #337ab7;
    background-color: #337ab7;
}

/* Estilos del editor */

#foxtrot-marco {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 100%;
    top: 56px;
    bottom: 0;
    height: calc(100vh - 56px);
    border: none;
    box-shadow: 0 0 9px rgba(0,0,0,.08), 0 0 50px rgba(0,0,0,.05);
    transition: opacity .2s;
}
.foxtrot-editor.foxtrot-trabajando #foxtrot-marco {
    opacity: 0;
}
#foxtrot-cuerpo {
    position: relative;
    z-index: 1;
}
.foxtrot-modo-edicion #foxtrot-cuerpo {
    background-color: #fff;
    min-height: calc(100vh - 44px);
    z-index: 1;
    top: 0;
    background-image: url(img/fondo.png);
    padding-top: 1px;
    outline: none !important;
    overflow: visible !important;
}
.foxtrot-editor .form-control,
.foxtrot-editor .custom-select,
.foxtrot-gestor .form-control,
.foxtrot-gestor .custom-select {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
}
.foxtrot-editor textarea.form-control,
.foxtrot-gestor textarea.form-control {
    height: auto;
}
.foxtrot-editor .custom-select,
.foxtrot-gestor .custom-select {
    padding-right: 30px;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn,
.foxtrot-gestor.foxtrot-barra-herramientas .btn,
.foxtrot-gestor.foxtrot-barra-herramientas-flotante .btn {
    display: inline-block;
    font-weight: 400;
    color: inherit;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;
    padding: 4px;
    font-size: inherit;
    line-height: inherit;
    border-radius: 2px;
    position: relative;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn img,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn img,
.foxtrot-gestor.foxtrot-barra-herramientas .btn img,
.foxtrot-gestor.foxtrot-barra-herramientas-flotante .btn img {
    transition: filter .2s;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn.activo img,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn.activo img,
.foxtrot-gestorgestor.foxtrot-barra-herramientas .btn.activo img,
.foxtrot-gestorgestor.foxtrot-barra-herramientas-flotante .btn.activo img {
    filter: saturate(3) brightness(1.8) contrast(.8);
}
.foxtrot-editor.foxtrot-barra-herramientas .separador,
.foxtrot-gestor.foxtrot-barra-herramientas .separador {
    margin-right: 25px;
}
.foxtrot-editor.foxtrot-barra-herramientas .separador::after,
.foxtrot-gestor.foxtrot-barra-herramientas .separador::after {
    content: "";
    display: inline-block;
    width: 2px;
    background: #ccc;
    height: 12px;
    position: absolute;
    right: -15px;
    top: 10px;
}

/* Menú contextual */

#foxtrot-menu {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 200;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07);
}
#foxtrot-menu a {
    display: block;
    padding: 5px 10px;
    background-color: transparent;
    transition: background-color .2s;    
}
#foxtrot-menu a:hover {
    background-color: #e8ebf1;
}

/* Barras de herramientas */

.foxtrot-barra-herramientas {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07);
    border-bottom: 2px solid #e6e6e6;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
}
.foxtrot-grupo-herramientas>label {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px 0 7px;
    color: #6b6f73;
}
.foxtrot-grupo-herramientas:first-child>label {
    padding-top: 7px;
}

/* Barra superior */

#foxtrot-barra-principal {
    box-shadow: none;
}
#foxtrot-barra-principal>div {
    margin-top: 2px;
    position: relative;
    white-space: nowrap;
    margin-right: 13px;
}
#foxtrot-barra-principal label {
    margin: 0;
    vertical-align: middle;
}
#foxtrot-barra-principal .custom-select {
    display: inline-block;
    width: 82px;
    margin-left: 5px;
}
#foxtrot-cargando {
    height: 34px;
    opacity: 0;
    margin-right: 10px;
}
body.foxtrot-trabajando #foxtrot-cargando {
    opacity: 1;
}

/* Barras flotantes */

.foxtrot-barra-herramientas-flotante {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 23px 4px 16px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
    transition: none;
    max-height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    /* TODO Barra de desplazamiento flotante estilo mobile (que no afecte las dimensiones) */
}
.foxtrot-barra-herramientas-flotante .foxtrot-contenidos-barra-herramientas {
    overflow-y: auto;
    position: relative;
    padding: 0 6px;
}
.foxtrot-asa-arrastre {
    position: absolute;
    cursor: grab;
    left: 3px;
    top: 3px;
    right: 3px;
    height: 10px;
    background-color: #e8ebf1;
    border-radius: 3px;
}
.foxtrot-barra-herramientas .btn,
.foxtrot-contenidos-barra-herramientas .btn {
    line-height: 0;
}
.foxtrot-barra-herramientas .btn.disabled,
.foxtrot-barra-herramientas .btn:disabled,
.foxtrot-contenidos-barra-herramientas .btn.disabled, 
.foxtrot-contenidos-barra-herramientas .btn:disabled {
    cursor: not-allowed;
}
.foxtrot-barra-herramientas .btn.disabled img,
.foxtrot-barra-herramientas .btn:disabled img,
.foxtrot-contenidos-barra-herramientas .btn.disabled img,
.foxtrot-contenidos-barra-herramientas .btn:disabled img {
    opacity: .3;
}
.foxtrot-barra-herramientas .btn:hover,.foxtrot-contenidos-barra-herramientas .btn:hover,
.foxtrot-barra-herramientas .btn:focus,.foxtrot-contenidos-barra-herramientas .btn:focus,
.foxtrot-barra-herramientas .btn:active,.foxtrot-contenidos-barra-herramientas .btn:active {
    background-color: #ececec;
}
.foxtrot-barra-herramientas button img,
.foxtrot-contenidos-barra-herramientas button img {
    width: 24px;
}

/* Barra de componentes */

#foxtrot-barra-componentes {
    left: 20px;
    top: 75px;    
    width: 180px;
}

/* Barra de propiedades */

#foxtrot-barra-propiedades {
    right: 20px;
    top: 75px;
}
.foxtrot-barra-propiedades-vacia .foxtrot-contenidos-barra-herramientas {
    white-space: nowrap;
    color: #cbced4;
    padding: 20px 14px;
}
.foxtrot-propiedad {
    display: flex;
    margin-bottom: 13px;
    width: 330px;
}
.foxtrot-propiedad:last-child {
    margin-bottom: 0;
}
.foxtrot-propiedad label {
    white-space: nowrap;
    padding-right: 10px;
    flex: 0 0 100px;
    margin: 0;
    font-weight: normal;
    padding-top: 8px;
}
.foxtrot-propiedad .btn-propiedad {
    background-color: #e8ebf1 !important;
    margin-top: 5px;
    margin-bottom: 2px;
}
.foxtrot-propiedad .btn-propiedad:hover {
    background-color: #d0d4db !important;
    margin-top: 5px;
    margin-bottom: 2px;
}
.foxtrot-propiedad label img {
    height: 16px;
    background: #e8ebf1;
    border-radius: 100%;
    padding: 2px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -1px;
    cursor: pointer;
}
.foxtrot-propiedad .form-control,.foxtrot-propiedad .custom-select {
    flex: 1;
}
.foxtrot-evento input {
    flex: 12 !important;
}

/* Menú contextual (sobreescribir todos los estilos para intentar evitar que los modifique el CSS de la aplicación) */

.foxtrot-menu-editor, .foxtrot-menu-editor .foxtrot-menu {
    position: fixed;
    background: #fff;
    z-index: 999999;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    border: 1px solid #e8ebf1;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    white-space: nowrap;
    width: auto;
    color: #212529;
    line-height: 13px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15)
}

/* Arrastrar y soltar */

.foxtrot-arrastrable-arrastrando-sobre {
    box-shadow: inset 0 0 0 4px rgba(0,123,255,.25) !important;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.foxtrot-zona {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,123,255,.15);
    transition: background-color .2s;
}
.foxtrot-zona.foxtrot-arrastrable-arrastrando-sobre {
    background-color: rgba(0,123,255,.35);
    box-shadow: none !important;
}
.foxtrot-zona-1,
.foxtrot-zona-4 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foxtrot-zona-2 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.foxtrot-zona-3,
.foxtrot-zona-6 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.foxtrot-zona-4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.foxtrot-zona-5,
.foxtrot-zona-6 {
    z-index: 9998;
    background-color: rgba(255, 166, 0, 0.158);
}
.foxtrot-zona-5.foxtrot-arrastrable-arrastrando-sobre,
.foxtrot-zona-6.foxtrot-arrastrable-arrastrando-sobre {
    background-color: rgba(255, 174, 0, 0.445);
}

/* Componentes */

.componente {
    position: relative;
    transition: outline .1s;
}
.foxtrot-modo-edicion .componente input,
.foxtrot-modo-edicion .componente select,
.foxtrot-modo-edicion .componente textarea {
    /*Previniendo el foco evitamos problemas relacionados con algunos tipos de campo, por ejemplo que en WebKit cuando tiene foco un campo de contraseña no funciona el drag&drop*/
    pointer-events: none;
}
.foxtrot-modo-edicion.foxtrot-bordes .contenedor {
    outline: dashed 1px rgba(0, 0, 0, 0.2);
    min-height: 1em;
}
.foxtrot-modo-edicion.foxtrot-mostrar-invisibles .d-none,
.foxtrot-modo-edicion.foxtrot-mostrar-invisibles .invisible {
    display: block !important;
    visibility: visible !important;
    opacity: .5;
}
.foxtrot-modo-edicion .componente,
.foxtrot-modo-edicion .componente * {
    cursor: pointer;
}
.foxtrot-modo-edicion .componente.foxtrot-seleccionado {
    outline: 1px solid rgb(126, 186, 229) !important;
}
.foxtrot-etiqueta-componente {
    display: none;
    position: absolute;
    left: -1px;
    top: -18px;
    z-index: 9999;
    background-color: #7ebae5d4;
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
    line-height: 19px;
    height: 18px;
    padding: 2px 9px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: grab !important;
    max-width: 100%;
    overflow: hidden;
}
.foxtrot-etiqueta-componente img {
    filter: brightness(5);
    height: 14px !important;
    width: auto !important;
    max-height: none !important;
    max-width: none !important;
    cursor: grab !important;
    display: block;
}
.foxtrot-modo-edicion .componente.foxtrot-seleccionado>.foxtrot-etiqueta-componente {
    display: block;
}
.foxtrot-modo-edicion [contenteditable=true] {
    outline: none!important;
}
.foxtrot-modo-edicion [contenteditable=true],
.foxtrot-modo-edicion [contenteditable=true] * {
    cursor: text;
}
.foxtrot-modo-edicion [contenteditable=true] .componente {
    cursor: pointer;
}
.foxtrot-modo-edicion .foxtrot-editando-texto,
.foxtrot-modo-edicion .foxtrot-seleccionado.foxtrot-editando-texto {
    outline: 1px solid rgb(213, 229, 126)!important;
}

/* Gestor */

.foxtrot-gestor h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: .9rem;
}
.foxtrot-gestor p {
    line-height: 1.4rem;
}
.foxtrot-gestor strong {
    font-weight: 500;
}
.foxtrot-gestor .arbol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.foxtrot-gestor .arbol li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.foxtrot-gestor .arbol li>label,
.foxtrot-gestor .arbol li>div {
    transition: background-color .2s;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
}
.foxtrot-gestor .arbol li:hover>.vista,
.foxtrot-gestor .arbol li:hover>.opciones {
    background-color: #e6e6e6;
}
.foxtrot-gestor .arbol .directorio {
    padding-left: 2.4rem;
    position: relative;
}
.foxtrot-gestor .arbol .directorio::before {
    width: 1px;
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    left: .65rem;
    top: 2rem;
    bottom: .5rem;
}
.foxtrot-gestor .arbol .directorio-etiqueta {
    margin-left: -2.4rem;
    flex: 0 0 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
}
.foxtrot-gestor .arbol .directorio-etiqueta::before {
    content: "";
    display: inline-block;
    background-image: url(img/carpeta.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 1.1rem;
    vertical-align: sub;
}
.foxtrot-gestor .arbol .expandido>.directorio-etiqueta::before {
    background-image: url(img/carpeta-abierta.png);
}
.foxtrot-gestor .arbol .vista {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin: 0;
    margin-left: -.5rem;
    padding-left: .5rem;
    cursor: pointer;
}
.foxtrot-gestor .arbol .opciones {
    flex-grow: 0;
}
.foxtrot-gestor .arbol .opciones .btn {
    margin: 0;
    vertical-align: top;
}
.foxtrot-gestor .arbol .opciones img {
    height: 20px;
}
.foxtrot-gestor .arbol ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.foxtrot-dialogo-gestor {
    display: none;
    width: 650px;
}
.foxtrot-gestor .dialogo-contenido {
    overflow: visible;
    max-height: none;
}
.foxtrot-dialogo-gestor h1 {
    margin-top: 0;
    margin-bottom: 1.3rem;
}
.foxtrot-dialogo-gestor .custom-control-label {
    line-height: 1.5rem;
}
.dialogo .foxtrot-dialogo-gestor {
    display: block;
}