/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body.foxtrot-modo-edicion {
    background-color: #fff;
}
body.foxtrot-modo-edicion.foxtrot-bordes {
    box-shadow: 0 0 0 22px rgb(251, 251, 251);
    margin-top: 22px !important;
    margin-bottom: 22px !important;
}
body.foxtrot-editor {
    background-color: #fdfdfd;    
    font-family: "Montserrat", sans-serif;
    line-height: 13px;
    font-size: 13px;
    color: #2d2e2f;
}

/*Colores*/

a {
    text-decoration: none !important;
    color: #3790dc;
}
a:hover,
a:focus,
a:active {
    color: #337ab7;
}
.form-control:focus,
.custom-select:focus {
    border-color: #337ab7;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3790dc;
    border-color: #3790dc;
}
.btn-secondary {
    color: #3b3e40;
    background-color: #dedede;
    border-color: #dedede;
}
.btn-secondary.focus, .btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #3b3e40;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

/* Estilos del editor */

#foxtrot-marco {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 100%;
    top: 56px;
    bottom: 0;
    height: 100%;
    border: none;
    box-shadow: 0 0 9px rgba(0,0,0,.08), 0 0 50px rgba(0,0,0,.05);
}
#foxtrot-cuerpo {
    position: relative;
    z-index: 1;
}
.foxtrot-modo-edicion #foxtrot-cuerpo {
    background-color: #fff;
    min-height: calc(100vh - 78px);
    z-index: 1;
    top: 0;
    background-image: url(img/fondo.png);
    padding-top: 1px;
    outline: none !important;
}
.foxtrot-editor .form-control,.foxtrot-editor .custom-select {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
}
.foxtrot-editor .custom-select {
    padding-right: 30px;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn {
    display: inline-block;
    font-weight: 400;
    color: inherit;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;
    padding: 4px;
    font-size: inherit;
    line-height: inherit;
    border-radius: 2px;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn img,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn img {
    transition: filter .2s;
}
.foxtrot-editor.foxtrot-barra-herramientas .btn.activo img,
.foxtrot-editor.foxtrot-barra-herramientas-flotante .btn.activo img {
    filter: saturate(3) brightness(1.8) contrast(.8);
}

/* Menú contextual */

#foxtrot-menu {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 200;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07);
}
#foxtrot-menu a {
    display: block;
    padding: 5px 10px;
    background-color: transparent;
    transition: background-color .2s;    
}
#foxtrot-menu a:hover {
    background-color: #e8ebf1;
}

/* Barras de herramientas */

.foxtrot-barra-herramientas {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07);
    border-bottom: 2px solid #e6e6e6;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
}
.foxtrot-grupo-herramientas>label {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px 0 7px;
    color: #6b6f73;
}
.foxtrot-grupo-herramientas:first-child>label {
    padding-top: 7px;
}

/* Barra superior */

#foxtrot-barra-principal {
    box-shadow: none;
}
#foxtrot-barra-principal .custom-select {
    display: inline-block;
    width: 82px;
    margin-left: 5px;
}
#foxtrot-cargando {
    height: 34px;
    opacity: 0;
    margin-right: 10px;
}
body.trabajando #foxtrot-cargando {
    opacity: 1;
}

/* Barras flotantes */

.foxtrot-barra-herramientas-flotante {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 23px 4px 16px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
    transition: none;
    max-height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    /* TODO Barra de desplazamiento flotante estilo mobile (que no afecte las dimensiones) */
}
.foxtrot-barra-herramientas-flotante .foxtrot-contenidos-barra-herramientas {
    overflow-y: auto;
    position: relative;
    padding: 0 6px;
}
.foxtrot-asa-arrastre {
    position: absolute;
    cursor: grab;
    left: 3px;
    top: 3px;
    right: 3px;
    height: 10px;
    background-color: #e8ebf1;
    border-radius: 3px;
}
.foxtrot-barra-herramientas .btn,
.foxtrot-contenidos-barra-herramientas .btn {
    line-height: 0;
}
.foxtrot-barra-herramientas .btn.disabled,
.foxtrot-barra-herramientas .btn:disabled,
.foxtrot-contenidos-barra-herramientas .btn.disabled 
.foxtrot-contenidos-barra-herramientas .btn:disabled {
    opacity: .3;
    cursor: not-allowed;
}
.foxtrot-barra-herramientas .btn:hover,.foxtrot-contenidos-barra-herramientas .btn:hover,
.foxtrot-barra-herramientas .btn:focus,.foxtrot-contenidos-barra-herramientas .btn:focus,
.foxtrot-barra-herramientas .btn:active,.foxtrot-contenidos-barra-herramientas .btn:active {
    background-color: #ececec;
}
.foxtrot-barra-herramientas button img,
.foxtrot-contenidos-barra-herramientas button img {
    width: 24px;
}

/* Barra de componentes */

#foxtrot-barra-componentes {
    left: 20px;
    top: 75px;    
    width: 180px;
}

/* Barra de propiedades */

#foxtrot-barra-propiedades {
    right: 20px;
    top: 75px;
}
.foxtrot-barra-propiedades-vacia .foxtrot-contenidos-barra-herramientas {
    white-space: nowrap;
    color: #cbced4;
    padding: 20px 14px;
}
.foxtrot-propiedad {
    display: flex;
    margin-bottom: 13px;
    width: 330px;
}
.foxtrot-propiedad:last-child {
    margin-bottom: 0;
}
.foxtrot-propiedad label {
    white-space: nowrap;
    padding-right: 10px;
    flex: 0 0 100px;
    margin: 0;
    font-weight: normal;
    padding-top: 8px;
}
.foxtrot-propiedad label img {
    height: 16px;
    background: #e8ebf1;
    border-radius: 100%;
    padding: 2px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -1px;
    cursor: pointer;
}
.foxtrot-propiedad .form-control,.foxtrot-propiedad .custom-select {
    flex: 1;
}

/* Menú contextual (sobreescribir todos los estilos para intentar evitar que los modifique el CSS de la aplicación) */

.foxtrot-menu-editor, .foxtrot-menu-editor .foxtrot-menu {
    position: fixed;
    background: #fff;
    z-index: 999999;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    border: 1px solid #e8ebf1;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    white-space: nowrap;
    width: auto;
    color: #212529;
    line-height: 13px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15)
}

/* Arrastrar y soltar */

.foxtrot-arrastrable-arrastrando-sobre {
    box-shadow: inset 0 0 0 4px rgba(0,123,255,.25) !important;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.foxtrot-zona {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,123,255,.15);
    transition: background-color .2s;
}
.foxtrot-zona.foxtrot-arrastrable-arrastrando-sobre {
    background-color: rgba(0,123,255,.35);
    box-shadow: none !important;
}
.foxtrot-zona-1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foxtrot-zona-2 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.foxtrot-zona-3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.foxtrot-zona-4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Componentes */

.componente {
    position: relative;
}
.foxtrot-modo-edicion.foxtrot-bordes .contenedor {
    outline: dashed 1px rgba(0, 0, 0, 0.2);
    transition: outline .1s;
    min-height: 1em;
}
.foxtrot-modo-edicion .componente,
.foxtrot-modo-edicion .componente * {
    cursor: pointer;
}
.foxtrot-modo-edicion .componente.seleccionado {
    outline: 1px solid rgb(126, 186, 229) !important;
}
.foxtrot-etiqueta-componente {
    display: none;
    position: absolute;
    left: -1px;
    top: -18px;
    z-index: 9999;
    background-color: #7ebae5d4;
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
    line-height: 19px;
    height: 18px;
    padding: 2px 9px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: grab !important;
    max-width: 100%;
    overflow: hidden;
}
.foxtrot-etiqueta-componente img {
    filter: brightness(5);
    height: 14px !important;
    width: auto !important;
    display: block;
}
.foxtrot-modo-edicion .componente.seleccionado>.foxtrot-etiqueta-componente {
    display: block;
}
.foxtrot-modo-edicion [contenteditable=true],
.foxtrot-modo-edicion [contenteditable=true] * {
    cursor: text;
}
.foxtrot-modo-edicion [contenteditable=true] .componente {
    cursor: pointer;
}
.foxtrot-modo-edicion .componente[contenteditable=true],
.foxtrot-modo-edicion .componente.seleccionado[contenteditable=true] {
    outline: 1px solid rgb(213, 229, 126)!important;
}