/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

/* Estilos comunes de Foxtrot */

body * {
    zoom: 1;
    backface-visibility: visible;
}

body {    
    overflow-x: hidden;
}

#foxtrot-cuerpo {
    min-height: 100vh;
    position: relative;
}

.contenedor,
.componente {
    position: relative;
}

.btn {
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
}

picture {
    display: inline-block;
    overflow: hidden;
}
picture img {
    display: block;
    max-width: inherit;
    max-height: inherit;
}

.deshabilitado,
[disabled] {
    opacity: .3;
}
.deshabilitado,
.deshabilitado *,
[disabled] {
    cursor: not-allowed !important;
}
.deshabilitado .form-control,
.form-control[disabled],
.deshabilitado .custom-select,
.custom-select[disabled] {
    opacity: 1;
    background-color: #e8ebf1;
}

.custom-select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1.1em;
    background-position-x: calc(100% - .4em);
}

/* Menú y menú contextual */

.menu {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 999999;
    background: #fff;
    border: 1px solid #e8ebf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
}
.menu .menu {
    position: absolute;
    left: 100%;
    margin-left: 0;
    margin-top: -11px;
}
.menu ul {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
}
.menu li, .menu a, .item-menu li, .item-menu a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static;
}
.menu a, .item-menu a {
    color: inherit !important;
    text-decoration: none !important;
    padding: 6px 16px;
    display: block;
    transition: background-color .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body.escritorio .menu a:hover,
.menu a:focus,
.menu a:active,
.menu .abierto>a,
body.escritorio .item-menu a:hover,
.item-menu a:focus,
.item-menu a:active,
.item-menu .abierto>a {
    background-color: #e8ebf1;
}
.con-submenu>a {
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 32px;
    background-position: calc(100% - 5px) center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iOSAxOCAxNSAxMiA5IDYiPjwvcG9seWxpbmU+PC9zdmc+");
}
li.menu-separador::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #e8ebf1;
    margin: 11px 0;
}

.menu.desplegar-izquierda,
.menu.siempre-desplegar-izquierda {
    left: auto !important;
    right: 0 !important;
}
.menu.desplegar-arriba,
.menu.siempre-desplegar-arriba {
    top: auto  !important;
    bottom: 100% !important;
}
.menu .menu.desplegar-izquierda,
.menu .menu.siempre-desplegar-izquierda {
    left: auto !important;
    right: 100% !important;
}
.menu .menu.desplegar-arriba,
.menu .menu.siempre-desplegar-arriba {
    top: auto !important;
    bottom: -10px !important;
}

.item-menu.deshabilitado {
    opacity: 1 !important;
}
.item-menu.deshabilitado>a {
    opacity: .3;
}

/* Diálogos */

#foxtrot-sombra {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0,0,0,0.45);
}
#foxtrot-sombra.sobreponer {
    z-index: 999999;
}

#foxtrot-precarga {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQoNCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0ibG9hZGVyLTEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KICAgICB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQogIDxwYXRoIGZpbGw9IiMzMzdhYjciIGQ9Ik00My45MzUsMjUuMTQ1YzAtMTAuMzE4LTguMzY0LTE4LjY4My0xOC42ODMtMTguNjgzYy0xMC4zMTgsMC0xOC42ODMsOC4zNjUtMTguNjgzLDE4LjY4M2g0LjA2OGMwLTguMDcxLDYuNTQzLTE0LjYxNSwxNC42MTUtMTQuNjE1YzguMDcyLDAsMTQuNjE1LDYuNTQzLDE0LjYxNSwxNC42MTVINDMuOTM1eiI+DQogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlVHlwZT0ieG1sIg0KICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIg0KICAgICAgdHlwZT0icm90YXRlIg0KICAgICAgZnJvbT0iMCAyNSAyNSINCiAgICAgIHRvPSIzNjAgMjUgMjUiDQogICAgICBkdXI9IjAuNnMiDQogICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPg0KICAgIDwvcGF0aD4NCiAgPC9zdmc+);
    /* animación blanca - background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E"); */
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.63);
}
#foxtrot-barra-precarga {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
#foxtrot-barra-precarga::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #2196F3;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    transition: background .2s;
    width: 0%;
    left: 0;
}
#foxtrot-barra-precarga.blanca::after {
    background: #fff;
}
#foxtrot-barra-precarga.visible::after {
    animation-name: barra-precarga;
}
#foxtrot-barra-precarga.visible.completa::after {
    animation-play-state: paused;
    width: 100% !important;
}
@keyframes barra-precarga {
    0% {
        width: 0%;
    }
    3% {
        width: 5%;
    }
    8% {
        width: 50%;
    }
    50% {
        width: 75%;
    }
    80% {
        width: 90%;
    }
    100% {
        width: 95%;
    }
}

.dialogo {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex !important;
    pointer-events: none;
}
.dialogo.oculto {
    display: none !important;
}
.dialogo .dialogo-cuerpo {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 auto;
    position: relative;    
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
    padding: 30px;
    text-align: left;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
}
.dialogo .dialogo-x {
    position: absolute;
    right: 16px;
    top: 0;
    width: 30px;
    height: 61px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQZJREFUeNpi/P//PwMtAeOQt4AJXSA+tyYTiMVINQikB6QXrwVABVlAahoQ7yXFEqjavSC9UDNw+mA1EF8GYh0gPghULEmE4aJAag9Uzw0gXoc3DqAaQK7RhWpwWji55Tkew5HVOgLVviAYycRYQozheFMRPkuINZxgMsVmCRD/IdZwovIBUgoBReIVqDCM7Qw0/BXFGQ3NJwzEuBxnRiOlFKBKUUHTIMKWWoD4L7H5hNRkCg9zUjIjsRkNI0KJtYSYogJnaiHGEhQLSDGcWEvQk2koVCEohdgTk86Bal4DKReoHg0gDkRRAPIBMo7Lqc4EYjF0cUIYpAekF12ccbTSJwQAAgwAwmEQscLIYxgAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat;
}
.dialogo .dialogo-contenido {
    max-width: 90vw;
    min-height: 1.1rem;
    max-height: 75vh;
    word-break: break-word;
}
.dialogo .dialogo-contenido.con-icono {
    position: relative;
    padding-left: 3rem;
}
.dialogo .dialogo-contenido .dialogo-icono {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    width: 3rem;
    line-height: 0;
    margin-top: 2px;
}
.dialogo .dialogo-contenido .dialogo-icono img {
    display: inline-block;
    max-width: 2rem;
    margin: 0;
}
.dialogo .dialogo-opciones {
    margin-top: 21px;
    display: flex;
    justify-content: flex-end;
}
.dialogo .dialogo-opciones .btn {
    flex: 0 0 auto;
    margin-left: 10px;
}
.dialogo .dialogo-opciones:empty {
    display: none;
}

.dialogo.aparece .dialogo-cuerpo {
    animation: animacion-dialogo .2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes animacion-dialogo {
    0% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
    }
}

/* Cordova */

.cordova * {
    user-select: none;
}
@keyframes cordova-listo {
    from { opacity: 0 }
    to { opacity: 1 }
}
#contenedor-cordova.listo {
    display: block!important;
    animation: cordova-listo 1s;
    animation-fill-mode: forwards;
}
.cordova .dialogo .dialogo-contenido {
    max-width: 100%;
}
.cordova .dialogo .dialogo-cuerpo {
    width: 85vw;
    max-width: 450px;
}

/* Calendario */

.calendario {
    text-align: center;
    padding: 1rem;
}
.calendario * {
    outline: none;
}
.calendario table {
    width: 100%;
    max-width: 250px;
    margin: auto;
}
.calendario a {
    color: inherit;
    transition: color .2s,background-color .2s;
    display: block;
    border-radius: 2px;
}
.calendario .calendario-dias-mes-previo a,
.calendario .calendario-dias-mes-siguiente a {
    color: #ccc;
}
.calendario .calendario-nav {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.calendario .calendario-titulo {
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calendario .btn {
    padding: 0;
    flex: 0 0 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
    margin: 0;
}
.calendario .calendario-btn-ano-previo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-left'%3E%3Cpolyline points='11 17 6 12 11 7'%3E%3C/polyline%3E%3Cpolyline points='18 17 13 12 18 7'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1.3rem;
}
.calendario .calendario-btn-ano-siguiente {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-right'%3E%3Cpolyline points='13 17 18 12 13 7'%3E%3C/polyline%3E%3Cpolyline points='6 17 11 12 6 7'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1.3rem;
}
.calendario .calendario-btn-mes-previo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1.12rem;
}
.calendario .calendario-btn-mes-siguiente {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235e6c7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");    
    background-size: 1.12rem;
}

/* Utilidades */

.tachado {
    text-decoration: line-through;
}
.subrayado {
    text-decoration: underline;
}
.font-weight-medium {
    font-weight: 500;
}

.centrar-contenido-verticalmente {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oculto {
    display: none;
}
.aparece {
    animation: aparece .2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
.desaparece {
    animation: desaparece .2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    pointer-events: none;
}
@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes desaparece {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.foxtrot-desplegable {
    outline: none;
    opacity: 0;
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 99999;
    border: 1px solid #e8ebf1;
    width: auto;
    border-radius: 2px;
    padding: 5px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 10px 15px rgba(0,0,0,.15);
}
.foxtrot-desplegable.foxtrot-desplegable-abierto {
    display: block;
}
.foxtrot-desplegable-x {
    display: none;
}
@media(max-width:576px) {
    .foxtrot-desplegable-adaptativo {
        padding-top: 1.8rem;
        left: 50% !important;
        top: 50% !important;
        width: 75vw !important;
        max-width: 310px;
        transform: translate(-50%,-50%);
    }
    .foxtrot-desplegable-adaptativo .foxtrot-desplegable-x {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQZJREFUeNpi/P//PwMtAeOQt4AJXSA+tyYTiMVINQikB6QXrwVABVlAahoQ7yXFEqjavSC9UDNw+mA1EF8GYh0gPghULEmE4aJAag9Uzw0gXoc3DqAaQK7RhWpwWji55Tkew5HVOgLVviAYycRYQozheFMRPkuINZxgMsVmCRD/IdZwovIBUgoBReIVqDCM7Qw0/BXFGQ3NJwzEuBxnRiOlFKBKUUHTIMKWWoD4L7H5hNRkCg9zUjIjsRkNI0KJtYSYogJnaiHGEhQLSDGcWEvQk2koVCEohdgTk86Bal4DKReoHg0gDkRRAPIBMo7Lqc4EYjF0cUIYpAekF12ccbTSJwQAAgwAwmEQscLIYxgAAAAASUVORK5CYII=);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
}

@media(min-width:576px) {
    .centrar-contenido-verticalmente-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .invisible-sm {
        visibility: hidden;
    }
}

@media(min-width:768px) {
    .centrar-contenido-verticalmente-md {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .invisible-md {
        visibility: hidden;
    }
}

@media(min-width:992px) {    
    .centrar-contenido-verticalmente-lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .invisible-lg {
        visibility: hidden;
    }
}

@media(min-width:1200px) {
    .centrar-contenido-verticalmente-xl {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .invisible-xl {
        visibility: hidden;
    }
}
