/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

/* Tema: Sistema */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Estructura*/

* {
    outline: none;
}
html {
    font-size: 13px;
    color: #3b3e40;
}
body {
    font-family: 'Open Sans', sans-serif;
}
body.cordova {
    font-family: inherit;
}
body.cordova-electron {
    font-family: "Segoe UI",sans-serif;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 30px;
    padding-left: 30px;
}
.row {
    margin-right: -7px;
    margin-left: -7px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 7px;
    padding-left: 7px;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,h6 {
    margin: 1.3rem 0;
    font-weight: 500;
}
h1,.h1 {
    font-size: 1.5rem;
}
h2,.h2 {
    font-size: 1.4rem;
}
h3,.h3 {
    font-size: 1.3rem;
}
h4,.h4 {
    font-size: 1.2rem;
}
h5,.h5 {
    font-size: 1.15rem;
}
h6,.h6 {
    font-size: 1.09rem;
}

/*Campos y botones*/

.cuerpo-formulario,
.formulario-tabla,
.formulario-arbol {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: .25rem;
    padding: 3rem;
}
.cuerpo-formulario,
.formulario-tabla,
.formulario-arbol {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.cuerpo-formulario .row {
    margin-bottom: 1rem;
}
.cuerpo-formulario .row:last-child,
.cuerpo-formulario .row>*:last-child {
    margin-bottom: 0 !important;
}
label,.label {
    margin-top: .3rem;
    margin-bottom: .24rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: inherit;
    vertical-align: top;
}
label.custom-control-label {
    margin: 0;
    overflow: visible;
}
.form-control,
.custom-select,
.custom-file-label {
    height: calc(1.1rem + .75rem + 2px);
    padding: .375rem .5rem;
    color: inherit;
    line-height: 1.1;
    margin: 0;
}
textarea.form-control {
    line-height: inherit;
}
.custom-file,.custom-file-input {
    height: calc(1.1rem + .75rem + 2px);  
    cursor: pointer;
}
.custom-file-label::after {
    display: none;
}
.custom-file-command {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    display: block;
    padding: .375rem .75rem;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
    height: calc(1.1rem + .75rem);
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.custom-file.ocultar-nombre .custom-file-label {
    display: none;
}
.custom-file.ocultar-nombre .custom-file-command {
    left: 0;
    width: 100%;
    border-radius: .25rem;
}
.custom-switch {
    padding: .28rem;
    padding-left: 3.45rem;
    overflow: hidden;
}
.custom-switch * {
    cursor: pointer;
}
.custom-switch .custom-control-label::before {
    left: -3.45rem;
    width: 2.6rem;
    height: .99rem;
    border-radius: 3rem;
    top: .26rem;
    border: none;
    background-color: #ced4da;
}
.custom-switch .custom-control-label::after {
    top: 0;
    left: -3.45rem;
    width: calc(1.8rem - 4px);
    height: calc(1.8rem - 4px);
    background-color: #ffffff;
    border-radius: 100%;
    border: 1px solid #ced4da;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(1.15rem);
}
.custom-control.custom-radio,
.custom-control.custom-checkbox {
    padding-left: 2.1rem;
}
.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    width: 1.4rem;
    height: 1.4rem;
    top: 0rem;
    left: -2.1rem;
}
.custom-radio .custom-control-label::after {
    top: .5rem;
    left: -1.65rem;
    border-radius: 100%;
    width: .45rem;
    height: .45rem;
    background-image: none !important;
    background-color: transparent;
    transition: background-color .2s;
}
.custom-checkbox .custom-control-label::after {
    top: -.2rem;
    left: -2.3rem;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
}
.custom-select {
    background-size: 18px;
    padding: 0 2.1rem 0 .5rem;
}
.btn,.btn * {
    cursor: pointer;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
    height: calc(1.1rem + .75rem + 2px);
    padding: .2rem .75rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.form-control:focus,
.custom-select:focus,
.btn:focus,
.custom-file-input:focus~.custom-file-label,
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}
.buscador .btn-desplegar {
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: border-color .2s;
}

/*Tablas*/

.formulario-tabla {
    padding: 0;
    overflow: hidden;
}
.table {
    margin: 0;
}
.formulario-tabla .table-responsive {
    height: 100%;
    overflow: auto;
}
.foxtrot-modo-edicion .formulario-tabla,
.foxtrot-modo-edicion .formulario-tabla .table-responsive {
    overflow: visible;
}
.formulario-tabla .componente.tabla {
    height: 100%;
}
.formulario-tabla .table-responsive th {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.formulario-tabla .btn {
    padding: 0;
    margin-right: 1rem;
    height: auto;
}
.formulario-tabla td>.btn:last-child {
    margin-right: 0;
}
.formulario-tabla .table {
    border-collapse: separate;
}
.table td, .table th {
    border-top: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.03);
}
.table-hover tbody tr:hover {
    background-color: #d2e2ef;
}
.table tr {
    transition: background-color .2s;
}
.table th {
    font-weight: 600;
}
.table td, .table th {
    padding: .5rem .7rem;
    vertical-align: middle;
}

/*Pestañas*/

.pestanas>.encabezados .btn {
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    height: calc(1.1rem + 1.3rem + 3px);
    margin-bottom: 1rem;
    transition: color .2s,border .2s;
}

/*Tinymce*/

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    border-bottom: 1px solid #ced4da;
}
.tox .tox-tbtn,
.tox .tox-tbtn--select {
    height: 26px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    transition: background-color .2s;
}
.tox .tox-tbtn svg {
    transform: scale(.7);
}

/*Árbol*/

.arbol ul {
    padding: 0;
    list-style-type: none;
}
.arbol li {
    padding: .4rem 0 .4rem 2rem;
}
.arbol.no-interactivo li {
    cursor: default;
}
.arbol.no-interactivo>.arbol-listado>li {
    padding-left: 0;
}
.arbol li:last-child {
    padding-bottom: 0;
}
.arbol li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2.16rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1ZTZjN2IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tcmlnaHQiPjxwb2x5bGluZSBwb2ludHM9IjkgMTggMTUgMTIgOSA2Ij48L3BvbHlsaW5lPjwvc3ZnPg==");
}
.arbol li.expandido::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1ZTZjN2IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+");
}
.arbol li.ultimo-nivel::before {
    display: none;
}
.arbol.no-interactivo .arbol-item::before {
    display: none;
}
.arbol li.ultimo-nivel {
    cursor: default;
}
.formulario-arbol {
    overflow-y: auto;
}

/*Colores*/

a {
    text-decoration: none !important;
    color: #337ab7;
}
.text-primary {
    color: #337ab7 !important;
}
body.escritorio a:hover,
a:focus,
a:active,
body.escritorio .btn:hover,
.btn:focus,
.btn:active,
.btn.text-primary:hover,
.btn.text-primary:focus,
.btn.text-primary:active {
    color: #3790dc;
}
.form-control:focus,
.custom-select:focus,
.btn:focus,
.btn.focus {
    border-color: #337ab7;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.btn-primary.focus, .btn-primary:focus,
body.escritorio .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #3790dc;
    border-color: #3790dc;
}
.btn-primary.focus, .btn-primary:focus {
    border-color: #2e6291;
}
.btn.text-primary:hover,
.btn.text-primary:focus,
.btn.text-primary:active {
    color: #51a5f0 !important;
}
.btn-secondary {
    color: #3b3e40;
    background-color: #e1e4eb;
    border-color: #e1e4eb;
}
.btn-secondary.focus, .btn-secondary:focus,
body.escritorio .btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #3b3e40;
    background-color: #cdd3e0;
    border-color: #cdd3e0;
}
.btn-secondary.focus, .btn-secondary:focus {
    border-color: #a3a3a3;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #337ab7;
    background-color: #337ab7;
}
.custom-file-input:focus~.custom-file-label {
    border-color: #337ab7;
}
.custom-file-command {
    transition: background-color .2s;
    background-color: #e1e4eb;
}
.custom-file:hover .custom-file-command {
    background-color: #cdd3e0;
}
.pestanas>.encabezados .btn.activa {
    border-color: #337ab7;
}
.calendario a.calendario-hoy {
    color: #337ab7;
}
.calendario a.calendario-seleccion {
    background-color: #337ab7;   
    color: #fff !important;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #ced4da;
}
.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #aecbe4;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    border-color: #357ab7;
    background-color: #347ab7;
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before,
.custom-radio .custom-control-input:focus~.custom-control-label::before,
.custom-switch .custom-control-input:focus~.custom-control-label::after {
    border-color: #347ab7;
}
.custom-checkbox .custom-control-input:focus:checked~.custom-control-label::before,
.custom-radio .custom-control-input:focus:checked~.custom-control-label::before,
.custom-switch .custom-control-input:focus:checked~.custom-control-label::after {
    border-color: #3b3e40;
}
.buscador.desplegable .btn-desplegar:focus {
    border-color: #347ab7;
}
.agenda .agenda-ahora {
    background-color: #347ab7;
    height: 2px;
}
.agenda .agenda-ahora::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    top: -5px;
    border-radius: 100%;
    background-color: #347ab7;
}

/*
337ab7
b5cfe5
*/

/* Soporte para navegadores antiguos (identificados por html.es5) */

.es5 .custom-switch .custom-control-label::after {
    transition: left .2s;
    transform: none !important;
    left: -3.45rem;
}
.es5 .custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: none;
    left: -3rem;
}
