/**
 * Copyright, 2020, Gabriel Quagliano. Bajo licencia Apache 2.0.
 * 
 * @author Gabriel Quagliano - gabriel.quagliano@gmail.com
 * @version 1.0
 */

/* Tema: Sistema */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Estructura*/

html {
    font-size: 13px;
    color: #3b3e40;
}
body {
    background-color: #eff1f5;
    font-family: 'Open Sans', sans-serif;
}
body.cordova {
    font-family: inherit;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 30px;
    padding-left: 30px;
}
.row {
    margin-right: -7px;
    margin-left: -7px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 7px;
    padding-left: 7px;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,h6 {
    margin: 1.3rem 0;
    font-weight: 500;
}
h1,.h1 {
    font-size: 1.5rem;
}
h2,.h2 {
    font-size: 1.4rem;
}
h3,.h3 {
    font-size: 1.3rem;
}
h4,.h4 {
    font-size: 1.2rem;
}
h5,.h5 {
    font-size: 1.15rem;
}
h6,.h6 {
    font-size: 1.09rem;
}

/*Campos y botones*/

.cuerpo-formulario,
.formulario-tabla {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 2px;
    padding: 30px;
}
.cuerpo-formulario,
.formulario-tabla {
    box-shadow: 0 1px 14px rgba(0,0,0,.03), 0 2px 4px rgba(0,0,0,.05);
}
.cuerpo-formulario>.row {
    margin-bottom: 1rem;
}
.cuerpo-formulario>:last-child {
    margin-bottom: 0;
}
label,.label {
    margin-top: .3rem;
    margin-bottom: .24rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: inherit;
}
label.custom-control-label {
    margin: 0;
    overflow: visible;
}
.form-control,
.custom-select,
.custom-file-label {
    height: calc(1.1rem + .75rem + 2px);
    padding: .375rem .5rem;
    color: inherit;
    line-height: 1.1;
    margin: 0;
}
textarea.form-control {
    line-height: inherit;
}
.custom-file,.custom-file-input {
    height: calc(1.1rem + .75rem + 2px);  
}
.custom-file-label::after {
    height: calc(1.1rem + .75rem + 2px);
    line-height: 1.1;
    content: "Seleccionar...";
}
.custom-switch {
    padding: .28rem;
    padding-left: 2.45rem;
}
.custom-switch * {
    cursor: pointer;
}
.custom-switch .custom-control-label::before {
    left: -2.45rem;
    width: 2rem;
    height: 1.3rem;
    border-radius: 3rem;
    top: .1rem;
    border-color: #bcc4cc;
}
.custom-switch .custom-control-label::after {
    top: calc(.1rem + 2px);
    left: calc(-2.45rem + 2px);
    width: calc(1.3rem - 4px);
    height: calc(1.3rem - 4px);
    background-color: #5e6c7b;
    border-radius: 100%;
}
.custom-radio .custom-control-label::after,
.custom-checkbox .custom-control-label::after {
    top: .2rem;
    left: -1.55rem;
    background: no-repeat 70%/70% 70%;
}
.custom-select {
    padding: 0 2.1rem 0 .5rem;
}
.btn,.btn * {
    cursor: pointer;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
    height: calc(1.1rem + .75rem + 2px);
    padding: .2rem .75rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.form-control:focus,
.custom-select:focus,
.btn:focus,
.custom-file-input:focus~.custom-file-label,
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}

/*Tablas*/

.formulario-tabla {
    padding: 0;
    overflow: hidden;
}
.table {
    margin: 0;
}
.formulario-tabla .table-responsive {
    height: 100%;
    overflow: auto;
}
.foxtrot-modo-edicion .formulario-tabla,
.foxtrot-modo-edicion .formulario-tabla .table-responsive {
    overflow: visible;
}
.formulario-tabla .componente.tabla {
    height: 100%;
}
.formulario-tabla .table-responsive th {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}
.formulario-tabla .btn {
    padding: 0;
    margin-right: 1rem;
    height: auto;
}
.formulario-tabla .btn:last-child {
    margin-right: 0;
}
.formulario-tabla .table {
    border-collapse: separate;
}
.table td, .table th {
    border-top: none;
}
.table tr {
    transition: background-color .2s;
}
.table th {
    font-weight: 600;
}
.table td, .table th {
    padding: .5rem .7rem;
    vertical-align: middle;
}

/*Pestañas*/

.pestanas>.encabezados .btn {
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    height: calc(1.1rem + 1.3rem + 3px);
    margin-bottom: 1rem;
    transition: color .2s,border .2s;
}

/*Colores*/

a {
    text-decoration: none !important;
    color: #337ab7;
}
.text-primary {
    color: #337ab7;
}
body.escritorio a:hover,
a:focus,
a:active,
body.escritorio .btn:hover,
.btn:focus,
.btn:active,
.btn.text-primary:hover,
.btn.text-primary:focus,
.btn.text-primary:active {
    color: #3790dc;
}
.form-control:focus,
.custom-select:focus {
    border-color: #337ab7;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.btn-primary.focus, .btn-primary:focus,
body.escritorio .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3790dc;
    border-color: #3790dc;
}
.btn-secondary {
    color: #3b3e40;
    background-color: #dedede;
    border-color: #dedede;
}
.btn-secondary.focus, .btn-secondary:focus,
body.escritorio .btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #3b3e40;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #337ab7;
    background-color: #337ab7;
}
.custom-file-input:focus~.custom-file-label {
    border-color: #337ab7;
}
.pestanas>.encabezados .btn.activa {
    border-color: #337ab7;
}
.calendario a.calendario-hoy {
    color: #337ab7;
}
.calendario a.calendario-seleccion {
    background-color: #337ab7;   
    color: #fff !important;
}

/*
337ab7
b5cfe5
*/